


/* --змінна flex-- */


.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

/* header */




/* hero */

/* modal window */





/* section features */

/* section about */

/* section team */

/* social-media */

/* client */

/* portfolio */
/* filter */


/* project */


/* footer */



