
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 528px;
	min-height: 581px;
	padding: 40px;
	background-color: var(--main-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	&__chapter {
		font-size: 20px;
		line-height: 1.15;
		letter-spacing: 0.03em;
		margin-bottom: 12px;
		color: var(--titel-color);
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

