:root {
	--header-border-color: #ececec;
	--accent-color: #2196f3;
	--accent-background-color: #188ce8;
	--main-second-color: #000000;
	--main-background-color: #ffffff;
	--titel-color: #212121;
	--titel-text-color: rgb(117, 117, 117);
	--hero-background-color: #2f303a;
	--btn-background-color: #f5f4fa;
	--svg-color: #afb1b8;
	--main-font: "Roboto";
	--accent-font: "Raleway";
	--items: 3;
	--indent: 30px;
	--transition-duration: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}