.about {
  
	display: flex;

    &__item:hover .overlay {
        opacity: 1;
    }
    
    &__item {
        position: relative;
        overflow: hidden;
        margin-right: 30px;
    }
    &__item:last-child {
        margin-right: 0;
    }
}

