.footer {
	background-color: var(--hero-background-color);
	padding-bottom: 60px;
	padding-top: 60px;

    &__logo {
        display: block;
        margin-bottom: 20px;
    }
    &__logo--color {
        color: var(--main-background-color);
    }
    &__contact {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }
    &__link {
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);
        transition-property: color;
        transition-duration:  var(--transition-duration);
        transition-timing-function: var(--timing-function);
    }
    &__link--color {
        color: var(--main-background-color);
    }
    &__link:hover, 
    &__link:focus {
        color: var(--accent-color);
    }
    
}

